:root{
    --color-primary: #7F5AF0;
    --color-secondary:  #52EF79;
    --color-background:  #0F0E17;
    --color-text: #f4f4f4;
    --font-primary: "Merriweather Sans", serif;
    --font-secondary:  "Merriweather", serif
}


/* CSS GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);   
    font-family: var(--font-primary);
    letter-spacing: 0.5px;
}

h1, 
h2, 
h3 {
    font-family: var(--font-secondary);
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

span {
    color: var(--color-primary);
}

h2,
h3 {
    font-size: 32px;
    color: var(--color-primary);
}

div img {
    width: 100%;
}

/*-------------------------------*/

.icon-color {
    color: var(--color-secondary)
}

.col {
    display: flex;
}

.align-start{
    justify-content: flex-start;
    flex: 0 0 35%;
}

.align-end{
    justify-content: flex-start;
    flex: 0 0 65%;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: var(--color-secondary);
    border-radius: 50px;
    padding: 7px 40px;
    font-family: var(--font-secondary);
    margin-top: 10px;
    align-items: center;
    color: var(--color-background);
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.about-me,
.projects, 
.contact{
    margin-bottom: 100px;
}

/* ESTILO DEL ENCABEZADO Y NAV*/
header {
    height: 60px;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px rgb(127, 90, 240, 0.25);
}

header .logo img{
    height: 40px;
}

header .menu ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;

}

header .menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    color: #f4f4f4;
}

header .menu ul li img {
    height: 25px;
}

/* CONTENEDOR GENERAL*/
.container,
hr {
    max-width: 1048px;
    margin: 0 auto;
}

/* SECCION DE PORTADA */
.home{
    margin: 120px 0;
}

.img-home{
    justify-content: flex-end;
    margin-left: auto;
 }
 .img-home img{
    border-radius: 50%;
 }
 .btn-home-img{
    height: 60px;
    margin-top: 30px;
 }

/*SECCION ACERCA DE MI */

.soft-skills{
    margin-top: 120px;
}


/* SECCION PROYECTO*/
.card {
    border: #EBEBEB solid 1px;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
}

.card__content{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.card__title{
    font-size: 24px;
    flex: 0 0 20%;
}

.card__content p{
    flex: 0 0 40%;
}

.icons-card {
    flex: 0 0 22%;
    display: flex;
}

.icons-card i {
    font-size: 40px;
    display: flex;
    padding: 0 5px;
}

.card img {
    border-radius: 10px;
    height: 80%;
}